
@{
    ViewData["Title"] = "Create";
}
@model CreateProductVM

<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title">Add Product</h4>
            <form class="forms-sample" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CostPrice"></label>
                    <input asp-for="CostPrice" class="form-control" placeholder="Cost Price" />
                    <span asp-validation-for="CostPrice" class="text-danger"></span>
                </div>
                                
                <div class="form-group">
                    <label asp-for="SellPrice"></label>
                    <input asp-for="SellPrice" class="form-control" placeholder="Sell Price" />
                    <span asp-validation-for="SellPrice" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="CoverImage">CoverImage</label>
                    <input accept="image/*" asp-for="CoverImage" class="form-control" placeholder="CoverImage">
                    <span asp-validation-for="CoverImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OtherImages">Other Images</label>
                    <input accept="image/*" asp-for="OtherImages" class="form-control" placeholder="Other Images">
                    <span asp-validation-for="OtherImages" class="text-danger"></span>
                </div> 
                                
                <div class="form-group">
                      <label asp-for="DiscountId"></label>
                    <select class="form-control" asp-for="DiscountId" asp-items="@ViewBag.Discounts">
                          <option value="@null" selected>None</option>
                      </select>
                    <span asp-validation-for="DiscountId" class="text-danger"></span>
                    </div>
                                    
                    <div class="form-group">
                      <label asp-for="CategoryId">Category</label>
                    <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories">
                          <option disabled selected>Select a category</option>
                      </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                                    
                    <div class="form-group">
                      <label asp-for="InformationId">Information</label>
                    <select class="form-control" asp-for="InformationId" asp-items="@ViewBag.Informations">
                          <option disabled selected>Select an information</option>
                      </select>
                      <span asp-validation-for="InformationId" class="text-danger"></span>
                    </div>
                
                    <div class="form-group">
                      <label asp-for="ColorIds">Colors</label>
                      <select class="form-control" asp-for="ColorIds" asp-items="@ViewBag.Colors">
                          <option disabled selected>Select colors</option>
                      </select>
                      <span asp-validation-for="ColorIds" class="text-danger"></span>
                    </div>
                                    
                    <div class="form-group">
                      <label asp-for="SizeIds">Sizes</label>
                      <select class="form-control" asp-for="SizeIds" asp-items="@ViewBag.Sizes">
                          <option disabled selected>Select sizes</option>
                        </select>
                      <span asp-validation-for="SizeIds" class="text-danger"></span>
                    </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
            
        </div>
    </div>




</div>

